
/* ALL FONTS
 * ====================================================================================================================*/

@font-face {
  font-family: 'MetaProCondBook';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/MetaProCondBook.woff2") format("woff2"), url("../fonts/MetaProCondBook.woff") format("woff"), url("../fonts/MetaProCondBook.ttf") format("truetype");
}

@font-face {
  font-family: 'MetaProCondBold';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/MetaProCondBold.woff2") format("woff2"), url("../fonts/MetaProCondBold.woff") format("woff"), url("../fonts/MetaProCondBold.ttf") format("truetype");
}