
/*--------------------------------------------------------------
 * # AutocompleteJs
 * ------------------------------------------------------------*/

.ui-autocomplete {
    margin: 0;
    padding: .1875rem 0;
    font-size: .75rem;
    background: #eee;
    border: 1px solid #7b7b7b;
    border-radius: .125rem;
    list-style: none;
}

.ui-autocomplete li {
    padding: .1875rem .375rem;
    cursor: pointer;
}

.ui-autocomplete li.ui-state-focus,
.ui-autocomplete li:hover {
    background: #ddd;
}