
/*--------------------------------------------------------------
 * # Merged
 * ------------------------------------------------------------*/

// .border {
//   border-width: .125rem;
// }

// .border.dark {
//   border-color: #787878;
// }

// .border.light {
//   border-color: #d5d6d6;
// }

// picture {
//     display: inline-block;
//     box-sizing: border-box;
//     max-width: 100%;
// }

.services-article-section h2,
.blog-article-section h2 {
    margin: 3.125rem auto 1.5625rem;
    text-transform: uppercase;
}

.services-article-section h3,
.blog-article-section h3 {
    margin: 2.1875rem auto 1.25rem;
}

.blog-article-section h3 {
    font-size: 1.5rem;
}

.services-article-section ul,
.services-article-section ol,
.blog-article-section ul,
.blog-article-section ol {
        margin-top: -14px;
        margin-bottom: 1.875rem;
    }

.services-article-section ul li,
.services-article-section ol li,
.blog-article-section ul li,
.blog-article-section ol li {
    margin-bottom: .3125rem;
    font-size: 17px;
    line-height: 1.6;
}

.moreLinkText:after {
    content: '»';
    // margin-left: .3125rem;
    // vertical-align: -.0625rem;
    // font-size: 1.3rem;

    position: absolute;
    // top: 50%;
    right: 0;
    display: block;
    // width: 20px;
    height: 1.875rem;
    transform: translateY(calc(-50% + 5px));
    font-size: 1.875rem;
}

// a:not(.button) {
//     text-decoration: none;
// }

// a:not(.button):hover,
// a:not(.button):hover span,
// a:not(.button):hover:after,
// a:not(.button):hover:before {
//     color: #454545;
// }

.moreLink {
    right: 1.25rem;
    bottom: 1.25rem;
    font: 1.125rem 'MetaProCondBook', sans-serif;
    position: absolute;
    text-transform: uppercase;
    color: #e51313;
}

.button,
.moreLink .moreLinkText {
    font-family: 'MetaProCondBook', sans-serif;
}

.moreLink,
.moreLink .moreLinkText {
    padding-right: .625rem;
    line-height: 40%;
}

.button,
.headline,
.socials__title {
    line-height: 1;
    text-transform: uppercase;
}

@media only screen and (max-width: 47.9375em) {

    .moreLink:after {
        margin: 0;
        font-size: 1rem;
    }
}

@media only screen and (min-width: 48em) {

    .services-article-section h1.headline,
    .price-section h1.headline,
    .blog-items h1.headline,
    .our-team-section h1.headline,
    .concepts-section h1.headline,
    .vacancy-section h1.headline,
    .company-long-text h1.headline,
    .blog-article-section h1.headline,
    .news-cards h1.headline,
    .news-article-section h1.headline,
    .contacts-section h1.headline,
    .uslugi-section h1.headline,
    .customers-section h1.headline,
    .offers-section h1.headline,
    .online-video-section h1.headline,
    .advantages-section h1.headline {
        font-size: 2.25rem;
    }

    .services-article-section h2,
    .blog-article-section h2 {
        font-size: 2.25rem;
    }

    .services-article-section h3,
    .blog-article-section h3 {
		font-size: 1.6875rem;
	}

    .moreLink {
        font-size: 1.125rem;
    }

    .moreLink:after {
        font-size: 1.5rem;
        vertical-align: 0;
    }

}

// .boxDatepicker .headline,
.boxInfo .headline,
.extraPadding .headline {
    margin-top: 0;
}

.boxInfo .headline,
.boxSidenav .headline,
.extraPadding .headline {
    font: 1.75rem 'MetaProCondBook', sans-serif;
    text-transform: uppercase;
    // margin-bottom: 1.25rem;
}

.boxInfo .headline,
.extraPadding .headline {
    margin-bottom: 1.25rem;
}

.boxInfo .headline,
.boxSidenav .headline {
    line-height: 1;
}

.extraPadding .headline {
    line-height: 1.2;
}

.extraPadding .headline .extraMargin {
    margin-bottom: 1.875rem;
}

// .boxDatepicker .headline:before,
.boxInfo .headline:before,
.boxSidenav .headline:before,
.extraPadding .headline:before {
    content: '»';
    vertical-align: .125rem;
    margin-right: .4375rem;
    margin-left: -.3125rem;
}

@media only screen and (min-width: 80em) {

    // .boxDatepicker .headline:before,
    .boxInfo .headline:before,
    .boxSidenav .headline:before,
    .extraPadding .headline:before {
        font-size: 1.875rem;
        vertical-align: .0625rem;
    }

    // .boxDatepicker .headline,
    .boxInfo .headline,
    .extraPadding .headline {
        margin-top: -.3125rem;
    }

}

@media only screen and (min-width: 64em) and (max-width: 79.9375em) {

    // .boxDatepicker .headline,
    .boxInfo .headline,
    .extraPadding .headline {
        margin-top: -.3125rem;
        // font-size: 1.625rem;
    }

}

@media only screen and (min-width: 80em) {

    .equalHeightTextbox > .column {
        margin-bottom: 1.875rem;
    }

}

@media only screen and (min-width: 64em) and (max-width: 79.9375em) {

    a.linkFullSize {
        margin: -.9375rem;
        padding: .9375rem;
        top: .9375rem;
        left: .9375rem;
        right: .9375rem;
        bottom: .9375rem;
    }

}

// .pagination .inner {
//     margin-top: 1.25rem;
//     border: .125rem solid #d5d5d6;
//     border-left: 0;
//     border-right: 0;
// }

// .pagination .active,
// .pagination a {
//     color: #505050;
//     padding: 0 .3125rem;
// }

// .pagination a,
// .pagination span,
// .stage .headline {
//     font-family: 'MetaProCondBook', sans-serif;
// }

// .pagination a,
// .pagination span {
//     font-size: 1.125rem;
//     color: #e51313;
//     text-transform: uppercase;
// }

// .pagination .back:before,
// .pagination .next:after {
//     font-size: 1.75rem;
//     margin: 0 .625rem;
//     vertical-align: -.0625rem;
// }

// .pagination .back,
// .pagination .next {
//     padding: 0;
// }

// .pagination .back {
//     left: 0;
// }

// .pagination .back:before {
//     content: "«";
// }

// .pagination .next {
//     right: 0;
// }

// .pagination .next:after {
//     content: "»";
// }

// @media only screen and (max-width: 47.9375em) {
//     .pagination .back:before,
//     .pagination .next:after {
//         font-size: 1.875rem;
//     }
// }

// @media only screen and (min-width: 48em) {
//     .pagination .inner {
//         padding: .15625rem .625rem;
//     }
// }

.boxSidenav .headline {
    margin-left: 0 !important;
    text-indent: 0 !important;
}

// .boxDatepicker .headline,
.boxInfo .headline,
.boxSidenav .headline,
.extraPadding .headline {
    margin-left: 1.1875rem;
    text-indent: -.875rem;
}

.boxInfo .infoArea .overlayWhite,
.stage .stageInfo {
    background: rgba(255, 255, 255, 0.95);
}

.boxSidenav .linkFullSize {
    margin: -1.25rem;
    padding: 1.25rem;
}

/* Устанавливает цвет ссылок на страницах статей в блоге,
   страниц с новостью и страниц с услугами сто,
   а также в тексте на главной */
.news-article-section a,
.services-article-section a,
.blog-article-section a,
.boxInfo__seo-text a {
    color: #0060a0;
    border-color: rgba(0,96,160,0.15);
    transition-property: border-bottom,border-color,background,color,fill;
    transition-duration: .2s;
    transition-timing-function: ease-out;
    text-decoration: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.news-article-section a:hover,
.services-article-section a:hover,
.blog-article-section a:hover {
    color: #e51717;
    border-color: rgba(176,48,0,0.15);
    transition: none;
}

@media only screen and (max-width: 47.9375rem) {
    .pagination .inner {
        padding: 0 .5rem;
    }
}

@media only screen and (max-width: 63.9375em) {

    // .boxInfo,
    // a.linkFullSize {
    //     padding: .9375rem;
    // }
    
    .boxInfo.boxBig {
        padding: .9375rem;
    }
    
    a.linkFullSize {
        margin: -.9375rem;
        top: .9375rem;
        left: .9375rem;
        right: .9375rem;
        bottom: .9375rem;
    }

}

@media only screen and (min-width: 64em) and (max-width: 79.9375rem) {

    .row.medium-uncollapse > .column > .row.medium-uncollapse,
    .row.medium-uncollapse > .columns > .row.medium-uncollapse {
        margin-left: -.46875rem;
        margin-right: -.46875rem;
    }

    // .row.small-collapse .row.downloadsForm,
    // .row.small-collapse .row.jobOffersForm {
    //     margin-left: 0.1875rem !important;
    //     margin-right: 0.1875rem !important;
    // }

    .left.inactive span,
    .moreLink.inactive,
    .right.inactive span {
        font-size: 1rem;
    }

    .row.small-collapse .row.newsArticleImages {
        margin-left: .1875rem;
    }

    .pagination .inner {
        padding: .15625rem .5rem;
    }

}

// @media only screen and (min-width: 80em) {
//     .row.small-collapse .row.jobOffersForm {
//         margin-top: 3.75rem;
//     }
// }

@media only screen and (max-width: 47.9375em) {

    .stage:not(.slider) .stageInfo {
        width: calc(100% - 1.25rem);
    }

}

@media only screen and (min-width: 64em) and (max-width: 79.9375em) {

    .column,
    .columns,
    .row.medium-uncollapse>.column {
        padding-left: .46875rem;
        padding-right: .46875rem;
    }

}