/*--------------------------------------------------------------
 * # Scaffolding
 * ------------------------------------------------------------*/

*,
:after,
:before {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-size: 16px;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    background: #fff;
    cursor: auto;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    padding: 0;
    color: #323232;
}

.page-wrapper {
    overflow-x: hidden;
}

@media only screen and (max-width: 47.9375rem) {

    .page-wrapper .head > div:first-child:before {
        margin: 0;
    }

}

@media only screen and (min-width: 64em) and (max-width: 79.9375em) {

    .page-wrapper > div:first-child:before {
        margin: 0 .46875rem;
    }

}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

/* Не используемые стили - начало */
audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}
/* Не используемые стили - конец */

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

/* Не используемые стили - начало */
abbr[title] {
    border-bottom: 1px dotted;
}

dfn {
    font-style: italic;
}
/* Не используемые стили - конец */

h1 {
    font-size: 2em;
    margin: .67em 0;
}

/* Не используемые стили - начало */
mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}
/* Не используемые стили - конец */

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

/* Стили переопределяются - начало */
figure {
    margin: 1em 40px;
}
/* Стили переопределяются - конец */

hr {
    border: solid #444;
    border-width: .0625rem 0 0;
    height: 0;
    margin-top: 1.25rem;
}

/* Не используемые стили - начало */
pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input,
input:hover,
select,
select:hover {
    background-color: #fff;
}

::-moz-placeholder {
    color: #323232;
    opacity: 1;
}

::-webkit-input-placeholder {
    color: #323232;
}

:-ms-input-placeholder {
    color: #323232;
}

input,
select {
    border-color: #484848;
    border-radius: .125rem !important;
    color: #464646;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    margin: 0 2px;
    padding: .35em .625em 0.75em;
    border: 1px solid #c0c0c0;
}

legend {
    padding: 0;
    border: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}
/* Неиспользуемые стили - конец */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

ul {
    margin-left: 0;
}

ol {
    margin-bottom: 0;
}

ol li {
    margin-top: .625rem;
}

ol li:not(:last-child) {
    margin-bottom: 1.5625rem;
}

ul[class^=navigation-] a,
.pagination .active,
.headline {
    font-family: 'MetaProCondBook', sans-serif;
}

.head > .row > .column > .show-for-large-up,
body {
    position: relative;
}

/* Неиспользуемые стили - начало */
.button,
.extraPadding.border,
button {
    border-style: solid;
}

.button {
    padding: .1875rem .4375rem;
    text-align: left;
    white-space: nowrap;
    background-color: #f42525;
    background-image: linear-gradient(#f42525, #e51313);
}

.button:after {
    display: inline-block;
    margin-left: .4375rem;
    font: 1.375rem 'MetaProCondBold', sans-serif;
    vertical-align: baseline;
}

.button:hover {
    background-color: #f78654;
    background-image: linear-gradient(#f78654, #f1633a);
}
/* Неиспользуемые стили - конец */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    text-rendering: optimizeLegibility;
}

/* Неиспользуемые стили - начало */
.button,
.vevent abbr,
a,
button {
    text-decoration: none;
}
/* Неиспользуемые стили - конец */

.accordion:after,
.clearfix:after,
.row .row.collapse:after,
.row .row:after,
.row:after,
[class*=block-grid-]:after,
hr {
    clear: both;
}

meta.foundation-version {
    font-family: "/5.5.3/";
}

meta.foundation-mq-small {
    font-family: "/only screen/";
    width: 0;
}

meta.foundation-mq-small-only {
    font-family: "/only screen and (max-width:47.9375em)/";
    width: 0;
}

meta.foundation-mq-medium {
    font-family: "/only screen and (min-width:48em)/";
    width: 48em;
}

meta.foundation-mq-medium-only {
    font-family: "/only screen and (min-width:48em) and (max-width:63.9375em)/";
    width: 48em;
}

meta.foundation-mq-large {
    font-family: "/only screen and (min-width:64em)/";
    width: 64em;
}

meta.foundation-mq-large-only {
    font-family: "/only screen and (min-width:64em) and (max-width:79.9375em)/";
    width: 64em;
}

meta.foundation-mq-xlarge {
    font-family: "/only screen and (min-width:80em)/";
    width: 80em;
}

meta.foundation-mq-xlarge-only {
    font-family: "/only screen and (min-width:80em) and (max-width:80em)/";
    width: 80em;
}

meta.foundation-mq-xxlarge {
    font-family: "/only screen and (min-width:80.0625em)/";
    width: 80.0625em;
}

meta.foundation-data-attribute-namespace {
    font-family: false;
}

/* Неиспользуемые стили - начало */
.button,
a:hover,
button {
    cursor: pointer;
}

#map_canvas embed,
#map_canvas img,
#map_canvas object,
.map_canvas embed,
.map_canvas img,
.map_canvas object,
.mqa-display embed,
.mqa-display img,
.mqa-display object {
    max-width: none !important;
}
/* Неиспользуемые стили - конец */

.left {
    float: left !important;
}

.right {
    float: right !important;
}

.clearfix:after,
.clearfix:before {
    content: " ";
    display: table;
}

/* Неиспользуемые стили - начало */
.hide {
    display: none;
}

.invisible {
    visibility: hidden;
}

.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* Неиспользуемые стили - конец */

img {
    width: 100%;
    height: auto;
    // Данное свойство используется только в IE с 7 версии
    -ms-interpolation-mode: bicubic;
    display: inline-block;
    vertical-align: middle;
}

/* Неиспользуемые стили - начало */
select {
    width: 100%;
}

select:focus {
    background-color: #fff;
}

.valign-middle {
    display: table;
}

.valign-middle > .column {
    display: table-cell;
    vertical-align: middle;
}

.valign-middle > .column,
.valign-middle > [class*=column]+[class*=column]:last-child {
    float: none;
}

.extraMargin h2 > .extraMargin {
    margin-bottom: 1.875rem;
}
/* Неиспользуемые стили - конец */
.extraPadding {
    padding: 0 .625rem;
    margin: .9375rem 0;
}

@media only screen and (min-width: 48em) {

    .extraPadding {
        margin: .625rem 0;
    }

}

/* Неиспользуемые стили - начало */
.font-60 {
    font-size: 60%;
}

.font-80 {
    font-size: 80%;
}

.font-100 {
    font-size: 100%;
}

.font-120 {
    font-size: 120%;
}

.font-140 {
    font-size: 140%;
}
/* Неиспользуемые стили - конец */

.colorRed {
    color: #e51717;
}

/* Неиспользуемые стили - начало */
.green {
    color: #288b1a;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.text-justify {
    text-align: justify !important;
}
/* Неиспользуемые стили - конец */

.noWrap {
    white-space: nowrap;
    color: inherit;
}

.wrap {
    white-space: wrap;
    color: inherit;
}

.headline.noArrows {
    text-indent: inherit !important;
    margin-left: 0 !important;
}

.headline.noArrows:before {
    content: none !important;
}

.bgImage {
    background: #f0f0f0;
    background-image: linear-gradient(-45deg, #f3f3f3, #f0f0f0);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
}

.linkFullSize {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    bottom: 1.25rem;
    left: 1.25rem;
    display: block;
    margin: -1.25rem;
    padding: 1.25rem;
}
/* Неиспользуемые стили - начало / стиль переопределяется */
// @media only screen and (max-width: 47.9375em) {
    
    //     .extraPadding .headline {
        //         margin-bottom: .625rem;
        //     }
        
        // }
/* Неиспользуемые стили - конец / стиль переопределяется */

// @media only screen and (min-width: 48em) {
//     .paddingBox {
//         margin-top: 2.5rem;
//     }
// }

// @media only screen and (min-width: 48em) and (max-width: 63.9375em) {
//     .paddingBox {
//         margin-top: 0;
//     }
// }

@media only screen and (min-width: 64em) and (max-width: 79.9375em) {

    .moreLink {
        right: .9375rem;
        bottom: .9375rem;
    }
    
    /* Неиспользуемые стили - начало */
    .button {
        padding: .125rem .4375rem;
    }
    /* Неиспользуемые стили - конец */

}