
/*--------------------------------------------------------------
 * # Variables for header
 * ------------------------------------------------------------*/
$cs-color-headline: #e51717;
$cs-color-styled-based: #e51717;
$cs-color-icon-based: #484848;
$cs-color-gray-47: #787878;
$cs-color-icon-active: #e51313;

$cs-color-accent: #222222;
$cs-color-accent-contrast: #FFFFFF;
$cs-color-secondary: #818181;
$cs-palette-color-secondary: #818181;
$cs-color-secondary-contrast: #222222;
// $cs-color-styled-heading: #ffffff;
// $cs-color-styled-heading-contrast: #222222;
// $cs-color-styled-heading-hover: #0ee6b0;
// $cs-color-styled-heading-hover-contrast: #222222;
// $cs-color-styled-category: rgba(0,0,0,0.3);
// $cs-color-styled-category-contrast: #ffffff;
// $cs-color-styled-category-hover: #222222;
// $cs-color-styled-category-hover-contrast: #FFFFFF;
$cs-color-category: #999999;
$cs-color-category-hover: #222222;
$cs-color-category-underline: rgba(255,255,255,0);
$cs-color-button: #222222;
$cs-color-button-contrast: #FFFFFF;
$cs-color-button-hover: #222222;
$cs-color-button-hover-contrast: #FFFFFF;
$cs-color-overlay-background: rgba(0,0,0,0.25);


/*--------------------------------------------------------------
 * # Variables for footer
 * ------------------------------------------------------------*/
