
/* DOWNLOADS
 * ====================================================================================================================*/

.downloadsTeaser .column {
  margin-bottom: .625rem;
}

.downloadsResults li:last-child .extraPadding,
.downloadsResults ul {
  margin-bottom: 0;
}

.downloadsText > .column {
  margin-top: .9375rem;
}

.downloadsResults li {
  list-style: none;
}

.downloadsResults li:not(:last-child) {
  border-bottom: 1px solid #c8c8c8;
}

.downloadsResults .extraPadding {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin: 1.5625rem 0;
}

.downloadsResults p:not(.headline) {
  line-height: 1.375rem;
  font-size: .875rem;
}

.downloadsResults p:not(.headline):last-child {
  margin-bottom: 0;
}

.downloadsResults .dlResultsImage {
  margin-right: 1.9375rem;
}

.downloadsResults .dlResultsImage img {
  border: 1px solid #c8c8c8;
}

.downloadsResults .headline {
  line-height: 1.875rem;
  font-size: 1.375rem;
  margin-left: 1.25rem;
  margin-bottom: .3125rem;
  text-indent: -1.375rem;
}

.downloadsResults .category,
.downloadsResults .filetype {
  color: #a2a2a2;
  white-space: nowrap;
}

.downloadsResults .filesize,
.downloadsResults .filetype {
  font-size: .6875rem;
}

.downloadsResults .doubleArrows:after,
.downloadsResults .moreLink:after {
  font-family: 'MetaProCondBold', sans-serif;
  font-size: 1.25rem;
  vertical-align: 0;
}

.downloadsResults .dlArrow:after {
  content: "";
  background: url("../img/icons/download_x2.png") center/100% no-repeat;
  display: inline-block;
  vertical-align: middle;
}

.dlResultsInfo .headline:before {
  margin-left: -.625rem;
}

.downloadsResults .dlArrow:after {
  margin-left: .3125rem;
}

@media only screen and (min-width: 48em) {
  .downloadsResults .dlResultsInfo {
    max-width: 79%;
  }

  .downloadsResults p:not(.headline) {
    font-size: 1rem;
  }

  .downloadsResults .headline {
    font-size: 1.75rem;
    text-indent: -1.625rem;
    margin-bottom: 0;
    margin-top: .625rem;
  }

  .downloadsResults .filesize,
  .downloadsResults .filetype {
    font-size: .8125rem;
  }
}

@media only screen and (min-width: 64em) and (max-width: 79.9375em) {
  .downloadsResults p:not(.headline) {
    font-size: .875rem;
  }

  .downloadsResults .headline {
    font-size: 1.625rem;
  }

  .downloadsResults .filesize,
  .downloadsResults .filetype {
    font-size: .6875rem;
  }
}

@media only screen and (min-width: 80em) { 
	.downloadsResults p:not(.headline) {
    margin-left: 1rem;
  }
}