
/* FLIPBOOK
 * ====================================================================================================================*/

.flipbook-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../img/flipbook/overlay_lightbox.png") repeat;
}

.flipbook-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  text-shadow: none;
  border-radius: 4px;
  background: #ffffff;
}

.flipbook-lightbox-thumb-overlay {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.2);
  transition: all .2s ease-out;
}

.flipbook-lightbox-thumb-overlay:hover {
  opacity: 1;
}

.flipbook-lightbox-thumb-icon {
  position: relative;
  margin-left: -50%;
  margin-top: -50%;
  color: #555;
  display: none;
}

.flipbook-lightbox-thumb-icon-holder {
  position: absolute;
  left: 50%;
  top: 50%;
}

.flipbook-wrapper-transparent {
  width: 100%;
  height: 100%;
  background: none;
}

.flipbook-main-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.flipbook-bookLayer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 40px;
  overflow: hidden;
}

.flipbook-center-container {
  transform: translateZ(0px);
  -webkit-transform: translateZ(0px);
  -backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.flipbook-book {
  display: block;
  position: relative;
}

.flipbook-page {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateZ(0px);
  will-change: transform;
}

.flipbook-page3 {
  position: absolute;
  overflow: hidden;
  transform: translateZ(0px);
  will-change: transform;
  background: #eee;
}

.flipbook-page3-html {
  position: absolute;
  width: 100%;
  height: 100%;
}

.flipbook-page3 img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.flipbook-page3 canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

.flipbook-page3-front {
  transform-origin: 0 50%;
  -webkit-transform-origin: 0 50%;
}

.flipbook-page3-back {
  transform-origin: 100% 50%;
  -webkit-transform-origin: 100% 50%;
}

.flipbook-book3 {
  display: block;
  position: relative;
}

.flipbook-center-container3 {
  position: relative;
  height: 100%;
  perspective: 4000px;
  -webkit-perspective: 4000px;
  transform: translateZ(0px);
  will-change: transform;
}

.flipbook-page-face {
  position: absolute;
  background-color: #DDD;
  transform: translateZ(0px);
  -webkit-transform: translateZ(0px);
  -backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.flipbook-page-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  pointer-events: none !important;
  z-index: 10;
}

.flipbook-page-htmlContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  transform: translateZ(0px);
  -webkit-transform: translateZ(0px);
  -backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.flipbook-book canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  transform: translateZ(0px);
  -webkit-transform: translateZ(0px);
  -backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.flipbook-page img {
  width: 100%;
  height: 100%;
  transform: translateZ(0px);
  -webkit-transform: translateZ(0px);
  -backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.flipbook-opacity0 {
  opacity: 0;
}

.flipbook-opacity1 {
  opacity: 1;
}

.flipbook-arrow-wrapper {
  opacity: .6;
}

.flipbook-left-arrow {
  display: block !important;
  position: absolute !important;
  left: 0;
  top: 50% !important;
  margin-top: -40px !important;
  speak: none !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 40px !important;
  -webkit-font-smoothing: antialiased !important;
  text-align: center !important;
  cursor: pointer !important;
  padding-left: 18px !important;
  padding-right: 22px !important;
}

.flipbook-first-arrow {
  display: block !important;
  position: absolute !important;
  left: 0;
  top: 50% !important;
  speak: none !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 16px !important;
  -webkit-font-smoothing: antialiased !important;
  text-align: center !important;
  cursor: pointer !important;
  padding-left: 23px;
  padding-right: 22px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.flipbook-last-arrow {
  display: block !important;
  position: absolute !important;
  right: 0;
  top: 50% !important;
  speak: none !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 16px !important;
  -webkit-font-smoothing: antialiased !important;
  text-align: center !important;
  cursor: pointer !important;
  padding-left: 23px;
  padding-right: 22px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.flipbook-right-arrow {
  display: block !important;
  position: absolute !important;
  right: 0;
  top: 50% !important;
  margin-top: -40px !important;
  speak: none !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 40px !important;
  -webkit-font-smoothing: antialiased !important;
  text-align: center !important;
  cursor: pointer !important;
  padding-left: 22px !important;
  padding-right: 18px !important;
}

.flipbook-currentPageHolder {
  position: absolute;
  top: 5px;
}

.flipbook-currentPage {
  position: absolute !important;
  text-align: right !important;
  padding: 0 !important;
  padding-right: 5px !important;
  border: none !important;
  width: 2.5em !important;
  font-size: 1em !important;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif !important;
  line-height: 30px !important;
  max-width: none !important;
  background: rgba(128, 128, 128, 0.2);
  border-radius: 7px;
}

.flipbook-totalPages {
  box-shadow: none;
  padding-left: 3em !important;
  padding-right: 1em !important;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  border: none !important;
  width: 3em !important;
  font-size: 1em !important;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  text-align: left !important;
  line-height: 30px !important;
  height: 35px;
  pointer-events: none;
}

.flipbook-currentPage:focus {
  outline: none;
}

.flipbook-menuWrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: 99999;
}

.flipbook-menuWrapper:hover {
  opacity: 1;
}

.flipbook-menu {
  position: relative;
  text-align: center;
  margin: 0;
  height: 40px;
  transition: all .3s ease-out;
}

.flipbook-menu-btn {
  display: inline;
  cursor: pointer;
  background: none;
}

.flipbook-thumbHolder {
  bottom: 40px;
  position: absolute;
  left: 0;
  top: 0;
}

.flipbook-thumbContainer {
  margin: 0;
  padding: 0;
  position: relative;
  margin-left: 20px;
}

.flipbook-thumb {
  display: inline-block;
  position: relative;
  margin-top: 15px;
  cursor: pointer;
}

.flipbook-thumb-num {
  display: block;
  text-align: center;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: .8em;
  font-weight: bold;
}

.flipbook-thumb img {
  border: 1px solid rgba(134, 134, 134, 0.33);
  display: inline-block;
  -ms-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}

.flipbook-toc {
  position: relative;
  margin: 0;
  padding: 0;
}

.flipbook-tocHolder {
  position: absolute;
  top: 0;
  width: 300px;
  bottom: 40px;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.flipbook-tocItem {
  display: block;
  padding: 10px 20px;
  text-align: justify;
  cursor: pointer;
  font-size: .9em;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  border-top: solid 1px rgba(135, 135, 135, 0.22);
}

.flipbook-tocItem:hover {
  background: rgba(128, 128, 128, 0.2);
}

.flipbook-tocItem .right {
  float: right;
}

.flipbook-tocTitle {
  display: block;
  padding: 20px;
  text-align: left;
  text-transform: uppercase;
}

.invisible {
  opacity: 0;
  pointer-events: none;
  display: none;
}

.transition {
  transition: all .3s ease-out;
}

.flipbook-shareButtons {
  width: 41px;
  position: absolute;
  bottom: 40px;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  text-align: center;
}

.flipbook-shareBtn {
  display: inline-block;
  cursor: pointer;
}

.flipbook-icon-general {
  speak: none !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 16px !important;
  line-height: 1 !important;
  -webkit-font-smoothing: antialiased !important;
  padding-bottom: 12px !important;
  padding-top: 12px !important;
  width: 36px !important;
  bottom: 0 !important;
  text-align: center !important;
}

.flipbook-btn-close {
  height: 20px;
  position: absolute;
  top: .0;
  right: 0;
  cursor: pointer;
  font-size: .8em;
}

.flipbook-bg-dark {
  background: rgba(20, 20, 20, 0.9);
}

.flipbook-color-dark {
  color: rgba(255, 255, 255, 0.6);
}

.flipbook-color-dark:hover {
  color: #FFF;
}

.flipbook-bg-light {
  background: rgba(255, 255, 255, 0.9);
}

.flipbook-color-light {
  color: rgba(0, 0, 0, 0.6);
}

.flipbook-color-light:hover {
  color: #000;
}

.tooltips span {
  position: absolute;
  width: 140px;
  color: #FFFFFF;
  background: #000000;
  height: 31px;
  line-height: 31px;
  text-align: center;
  visibility: hidden;
  border-radius: 0px;
}

.tooltips span:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-top: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

.tooltips:hover span {
  visibility: visible;
  bottom: 30px;
  z-index: 999;
}

.flipbook-lightbox-toolbar {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99999 !important;
}

.flipbook-lightbox-toolbar span {
  cursor: pointer;
  padding: 5px 8px;
}

.flipbook-loading-bar {
  position: relative;
  width: 100%;
  height: 6px;
  background-color: #333;
  border-bottom: 1px solid #333;
}

.flipbook-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #ddd;
  overflow: hidden;
  transition: width 200ms;
}

.flipbook-carousel-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

.flipbook-carousel-scroller {
  float: left;
  position: relative;
  width: 10000px;
  height: 100%;
}

.flipbook-carousel-scroller ul {
  list-style: none;
  display: block;
  float: left;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  text-align: left;
}

.flipbook-carousel-scroller li {
  -o-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  width: 500px;
  height: 100%;
  text-align: center;
  font-family: georgia;
  font-size: 18px;
  line-height: 140%;
}

.flipbook-carousel-page {
  height: 100%;
  position: relative;
}

.flipbook-carousel-zoom-page {
  height: 100%;
  position: relative;
}

.flipbook-carousel-zoom-page img {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  position: absolute;
}

.flipbook-carousel-page img {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  position: absolute;
}

.flipbook-carousel-image-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

.flipbook-carousel-zoom-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

.flipbook-carousel-zoom {
  position: relative;
  width: 100%;
  height: 100%;
}

.flipbook-share .social.bottom,
.flipbook-share .social.top {
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
}

.flipbook-share {
  width: 92px;
  height: 20px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flipbook-share [class*=entypo-]:before {
  font-family: entypo, sans-serif;
}

.flipbook-share label {
  font-size: 16px;
  cursor: pointer;
  margin: 0;
  padding: 5px 10px;
  border-radius: 5px;
  background: #a29baa;
  color: #333;
  transition: all .3s ease;
}

.flipbook-share label:hover {
  opacity: .8;
}

.flipbook-share label span {
  text-transform: uppercase;
  font-size: .9em;
  font-family: Lato, sans-serif;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  padding-left: 6px;
}

.flipbook-share .social {
  opacity: 0;
  transition: all .4s ease;
  margin-left: -15px;
  visibility: hidden;
}

.flipbook-share .social.top {
  transform-origin: 0 0;
  bottom: 34px;
  position: absolute;
  left: 10px;
}

.flipbook-share .social.bottom {
  transform-origin: 0 0;
  margin-top: 5px;
}

.flipbook-share .social.middle.left,
.flipbook-share .social.middle.right {
  transform-origin: 5% 50%;
  -webkit-transform-origin: 5% 50%;
  -moz-transform-origin: 5% 50%;
  -o-transform-origin: 5% 50%;
}

.flipbook-share .social.middle {
  margin-top: -34px;
}

.flipbook-share .social.middle.right {
  margin-left: 105px;
}

.flipbook-share .social.networks-1.center,
.flipbook-share .social.networks-1.left,
.flipbook-share .social.right {
  margin-left: 14px;
}

.flipbook-share .social.load {
  transition: none !important;
}

.flipbook-share .social.networks-1 {
  width: 60px;
}

.flipbook-share .social.networks-1.middle.left {
  margin-left: -70px;
}

.flipbook-share .social.networks-1 ul {
  width: 60px;
}

.flipbook-share .social.networks-2,
.flipbook-share .social.networks-2 ul {
  width: 120px;
}

.flipbook-share .social.networks-2.center {
  margin-left: -13px;
}

.flipbook-share .social.networks-2.left {
  margin-left: -44px;
}

.flipbook-share .social.networks-2.middle.left {
  margin-left: -130px;
}

.flipbook-share .social.networks-3,
.flipbook-share .social.networks-3 ul {
  width: 180px;
}

.flipbook-share .social.networks-3.center {
  margin-left: -45px;
}

.flipbook-share .social.networks-3.left {
  margin-left: -102px;
}

.flipbook-share .social.networks-3.middle.left {
  margin-left: -190px;
}

.flipbook-share .social.networks-4,
.flipbook-share .social.networks-4 ul {
  width: 240px;
}

.flipbook-share .social.networks-4.center {
  margin-left: -75px;
}

.flipbook-share .social.networks-4.left {
  margin-left: 162px;
}

.flipbook-share .social.networks-4.middle.left {
  margin-left: -250px;
}

.flipbook-share .social.networks-5,
.flipbook-share .social.networks-5 ul {
  width: 40px;
}

.flipbook-share .social.networks-5.left {
  margin-left: -225px;
}

.flipbook-share .social.networks-5.middle.left {
  margin-left: -320px;
}

.flipbook-share .social.active {
  opacity: 1;
  transition: all .4s ease;
  visibility: visible;
}

.flipbook-share .social.active.top {
  transform: scale(1) translateY(-10px);
}

.flipbook-share .social.active.bottom {
  transform: scale(1) translateY(15px);
}

.flipbook-share .social.active.middle.right {
  transform: scale(1) translateX(10px);
}

.flipbook-share .social.active.middle.left {
  transform: scale(1) translateX(-10px);
}

.flipbook-share .social ul {
  position: relative;
  left: 0;
  right: 0;
  height: 46px;
  color: #fff;
  margin: auto;
  padding: 0;
  list-style: none;
}

.flipbook-share .social ul li {
  font-size: 16px;
  cursor: pointer;
  width: 40px;
  margin: 0;
  padding: 9px 0;
  text-align: center;
  float: left;
  display: none;
  height: 22px;
  position: relative;
  z-index: 2;
  box-sizing: content-box;
  transition: all .3s ease;
}