
/* PLACES
 * ====================================================================================================================*/

.places .extraPadding {
  margin: 0;
}

.placesBox .searchForm select {
  margin-bottom: .625rem;
}

.placesBox .searchForm input {
  margin-bottom: 1.25rem;
}

.placesBox .searchForm .button {
  padding: .4375rem .875rem;
  margin-bottom: 0;
  text-align: center;
}

.placesBox .placesMapDetailOverlay strong.label {
  min-width: 3.625rem;
  display: inline-block;
}

.placesDetail {
  margin-top: 1.25rem;
}

.placesDetail .locationPicture {
  background-size: cover;
  background-position: center;
  border: .0625rem solid #c8c8c8;
}

.placesDetail .contactLabel {
  display: inline-block;
  min-width: 1.75rem;
}

.placesBox .placesMapDetailOverlay .left,
.placesBox .placesMapDetailOverlay .right {
  width: 50%;
}

.placesMapContent > .gm-style img[src*="maps.google.com"] {
  -webkit-filter: grayscale(0.5);
  filter: grayscale(0.5);
}

.placesMap .placesMapContent picture,
.placesMap .placesMapContent picture img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 47.9375em) {
  .placesBox {
    background: #f0f0f0;
    border-top: none;
    // padding: 1.5625rem 1.25rem;
    margin-bottom: 1.25rem;
  }

  .placesBox .extraPadding {
    padding: 0;
  }

  .placesBox .headline {
    font-size: 1.75rem;
    color: #505050;
    text-indent: inherit;
    margin-left: .8125rem;
  }

  .placesBox .headline:before {
    content: none;
  }

  .placesBox .searchForm button {
    width: 100%;
  }

  .placesBox .searchResult .headline {
    margin-bottom: .75rem;
    margin-left: 0;
  }

  .placesBox .searchResult ul {
    list-style: none;
    line-height: 1.875rem;
    margin-bottom: 0;
  }

  .placesBox .searchResult a {
    color: #e51313;
  }

  .placesBox .searchResult {
    margin-top: 3.625rem;
    margin-left: .8125rem;
  }
}

@media only screen and (min-width: 48em) {
  .placesBox {
    margin-bottom: 2.5rem;
  }

  .placesBox .searchForm {
    position: absolute;
    top: .9375rem;
    left: 2.65625rem;
    right: 2.65625rem;
    padding: .9375rem;
    background: #fff;
    background: rgba(255, 255, 255, 0.85);
    text-align: center;
  }

  .placesBox .searchForm input,
  .placesBox .searchForm select {
    margin-right: 2.5%;
    padding: .21875rem .4375rem;
    height: 1.75rem;
    font-size: .875rem;
    background-color: #f0f0f0;
  }

  .placesBox .searchForm .button,
  .placesBox .searchForm input,
  .placesBox .searchForm select {
    display: inline;
    margin-bottom: 0;
  }

  .placesBox .searchForm select {
    width: 32%;
  }

  .placesBox .searchForm input {
    width: 35%;
  }

  .placesBox .searchForm .button {
    width: 26%;
    padding: .1875rem .9375rem;
    vertical-align: top;
  }

  .placesBox .placesMapDetailOverlay {
    position: absolute;
    top: 12.3125rem;
    left: 20%;
    width: 31.25rem;
    border: .0625rem solid #a3a3a3;
    padding: 1.25rem;
    background: #fff;
    background: rgba(255, 255, 255, 0.96);
  }

  .placesBox .placesMapDetailOverlay .close {
    position: absolute;
    right: .9375rem;
    top: .9375rem;
    width: .9375rem;
    height: .9375rem;
    line-height: 1;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAJCAYAAAALpr0TAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAAAgUlEQVQY043PMRKCUAwE0PextqNRxnNwJc/gUHMGbuRBHNSCzhlaLAySwsKtdjab7IYPOgyobahD66BCwQkN+jDUwZuYlZK2exzwCG3lF0y7EGdc0YZhn01r9F9YL+boJ17B20iaSzwz4JjipMU7zhUW3DCmTlPwMWZLrlF+VPtqbwVnHWTRHh8pAAAAAElFTkSuQmCC") center no-repeat;
  }

  .placesBox .placesMapDetailOverlay .headline {
    margin-right: 1.5625rem;
  }

  .placesBox .placesMapDetailOverlay p:not(.headline) {
    font-size: .875rem;
    line-height: 1.25rem;
  }

  .placesBox .placesMapDetailOverlay p:not(.headline):last-child {
    margin-bottom: 0;
  }

  .placesBox .placesMapDetailOverlay .button {
    position: absolute;
    right: 1.25rem;
    bottom: 1.25rem;
    margin-bottom: 0;
    width: 6.4375rem;
    text-align: center;
  }

  .placesBox {
    margin-bottom: 0;
  }

  .placesDetail {
    margin-top: 2.5rem;
  }

  .placesDetail .detail3 {
    min-height: 207px;
  }
}

@media only screen and (min-width: 48em) and (max-width: 63.9375em) {
  .placesDetail .extraPadding .row .column:nth-child(4) {
    clear: both;
  }
}

@media only screen and (min-width: 64em) and (max-width: 79.9375em) {
  .placesBox .searchForm .button {
    width: auto;
    max-width: 20%;
  }
}

@media only screen and (min-width: 64em) {
  .placesBox .searchForm {
    right: 5.3125rem;
    left: 5.3125rem;
  }

  .placesBox .searchForm input,
  .placesBox .searchForm select {
    margin-right: 1.5%;
  }

  .placesBox .searchForm select {
    width: 35%;
  }

  .placesBox .searchForm input {
    width: 40%;
  }

  .placesBox .searchForm .button {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 80em) {
  .placesBox .searchForm {
    left: 6.875rem;
    right: 6.875rem;
    padding: .9375rem 0;
  }

  .placesBox .searchForm input,
  .placesBox .searchForm select {
    width: 18rem;
  }

  .placesBox .searchForm .button {
    width: auto;
    margin-right: 0;
  }
}

.placesDetail .detail3 {
  border: .0625rem solid #adadad;
  padding: 1.25rem;
}

.placesDetail .detail3 p:last-child {
  margin-bottom: 0;
}

.placesDetail picture,
.placesDetail picture img {
  width: 100%;
}

@media only screen and (max-width: 47.9375em) {
  .placesDetail .detail3 {
    margin-bottom: 1.4375rem;
  }

  .placesMapContent {
    height: 17.5625rem;
  }
}

@media only screen and (min-width: 48em) {
  .placesDetail .column > .extraPadding {
    padding: 0;
  }

  .placesDetail .extraPadding .row .column:nth-child(1),
  .placesDetail .extraPadding .row .column:nth-child(2) {
    padding-left: 1.875rem;
  }

  .placesMapContent {
    height: 36.9375rem;
  }
}

@media only screen and (min-width: 64em) and (max-width: 79.9375em) {
  .placesDetail p {
    font-size: .875rem;
  }
}

@media only screen and (min-width: 64em) {
  .placesDetail .detail2 {
    padding-left: 1.6875rem;
  }
}

.placesMap .show-for-small-only {
  margin: .5rem 0 .5rem .625rem;
}

.placesMap .placesMapContent {
  padding-left: .625rem;
  padding-right: .625rem;
}

@media only screen and (min-width: 80em) {
  .placesMap hr {
    margin-top: 1.875rem;
  }
}

.searchForm.fixedsticky {
  top: 0;
  z-index: 10;
}

.searchForm:not(.searchFormPlaces) > .column > .row {
  padding-top: .625rem;
  background: #f2f2f2;
}

.searchForm:not(.searchFormPlaces) .headline {
  font-size: 1.625rem;
  line-height: 2.0625rem;
  margin-left: 0;
  padding-left: 3.125rem;
  padding-top: .1875rem;
  position: relative;
  text-indent: 0;
}

.searchForm:not(.searchFormPlaces) .headline:before {
  content: "";
  background: url("../img/icons/icon-search_orange.png") center no-repeat;
  width: 2.25rem;
  height: 2.1875rem;
  position: absolute;
  left: 0;
  top: 0;
}

.searchForm:not(.searchFormPlaces) input,
.searchForm:not(.searchFormPlaces) select {
  font-size: .875rem;
  height: 1.75rem;
  padding: 0 .3125rem;
}

.searchForm:not(.searchFormPlaces) input {
  padding: 0 .625rem;
}

.searchForm:not(.searchFormPlaces) select option {
  padding: .3125rem .625rem;
}

.searchForm:not(.searchFormPlaces) .button {
  padding-left: 1.46875rem;
  padding-right: 1.46875rem;
}

.searchForm:not(.searchFormPlaces) button[type=reset] {
  background: 0 0;
  border: none;
  width: auto;
  text-transform: uppercase;
  font-family: 'MetaProCondBook', sans-serif;
  padding: 0;
  height: 1.75rem;
  line-height: 1.75rem;
}

.searchForm:not(.searchFormPlaces) button[type=reset]:after {
  font-size: 1.75rem;
  vertical-align: -.0625rem;
}

.searchForm:not(.searchFormPlaces) button[type=reset].orange:hover {
  color: #454545;
}

.searchForm:not(.searchFormPlaces) select {
  padding: 3.5px 10px;
}

@media only screen and (max-width: 47.9375em) {
  .searchForm:not(.searchFormPlaces) .headline {
    font-size: 1.75rem;
  }

  .searchForm:not(.searchFormPlaces) .headline:before {
    top: 50%;
    margin-top: -1.09375rem;
  }

  .searchForm:not(.searchFormPlaces) input,
  .searchForm:not(.searchFormPlaces) select {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 48em) {
  .searchForm:not(.searchFormPlaces).downloadsForm .button {
    float: right;
  }

  .searchForm:not(.searchFormPlaces) > .column > .row {
    padding-bottom: 1.25rem;
  }

  .searchForm:not(.searchFormPlaces) select {
    width: 39%;
    margin-right: 2.5%;
    padding: .21875rem .3125rem;
  }

  .searchForm:not(.searchFormPlaces) button,
  .searchForm:not(.searchFormPlaces) input,
  .searchForm:not(.searchFormPlaces) select {
    display: inline;
    margin-bottom: 0;
    float: left;
  }

  .searchForm:not(.searchFormPlaces) button {
    padding-top: .1875rem;
    padding-bottom: .1875rem;
    width: 17%;
    text-align: center;
    vertical-align: bottom;
  }

  .searchForm:not(.searchFormPlaces).jobOffersForm input,
  .searchForm:not(.searchFormPlaces).jobOffersForm select {
    margin: 0;
    width: 48.75%;
    display: inline-block;
  }

  .searchForm:not(.searchFormPlaces).jobOffersForm input,
  .searchForm:not(.searchFormPlaces).jobOffersForm select:nth-child(odd) {
    margin-right: 2.5%;
    margin-bottom: .9375rem;
  }

  .searchForm:not(.searchFormPlaces).jobOffersForm input {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 80em) {
  .searchForm:not(.searchFormPlaces).jobOffersForm input,
  .searchForm:not(.searchFormPlaces).jobOffersForm select {
    width: 31.65%;
    margin-bottom: .9375rem;
  }

  .searchForm:not(.searchFormPlaces).jobOffersForm select {
    margin-right: 2.5%;
  }

  .searchForm:not(.searchFormPlaces).jobOffersForm select:nth-child(3) {
    margin-right: 0;
  }

  .searchForm:not(.searchFormPlaces).jobOffersForm .button {
    width: auto;
  }
}

.tx-trostlocations-loading-indicator {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #505050;
  width: 0;
  height: 4px;
  -webkit-transition: width .5s ease-out;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

#tx-trostlocations-invalid-query {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 0 10px 10px;
  background: #fff;
  background: rgba(255, 255, 255, 0.85);
  text-align: center;
}