
/*--------------------------------------------------------------
 * # Advantages
 * ------------------------------------------------------------*/

.advantages h1.headline {
    margin-top: .25rem;
}

.advantages-section ul li {
    margin-bottom: 5px;
    margin-left: 0;
    width: 85%;
    line-height: 25px;
    text-indent: 0;
}

.advantages-section ul li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
}

.advantages-section ul li:before {
    background-image: url('../img/icons/check-circle.svg');
}

.advantages-section__item {
    position: relative;
    padding-left: 34px;
}

.advantages-section__note {
	margin-top: 20px;
	font-size: 1.25rem;
	font-family: 'MetaProCondBold', sans-serif;
}

.advantages-section--card {
    margin-top: .625rem;
    margin-bottom: .625rem;
    padding: 1.25rem;
    background: #fbfbfb;
    border-radius: 12px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
}

.advantages-section--card p.headline {
    font-size: 1.5rem;
    line-height: 1.875rem;
}

.advantages-section--card ul {
    margin-left: 0;
}

.advantages-section--card ul li {
    line-height: 20px;
}

.advantages-section--card ul li:before {
    width: 20px;
    height: 20px;
}

.advantages-section--card .advantages-section__item {
    margin: 0;
    font-size: .875rem;
}

.advantages-section--card .advantages-section__note {
    margin-bottom: 0;
    font-size: 1.125rem;
}