
/*--------------------------------------------------------------
 * # Box sidenav
 * ------------------------------------------------------------*/

.boxSidenav {
    position: relative;
    margin-top: 1.25rem;
    padding: 1.25rem;
}

.boxSidenav,
.boxSidenav .moreLink,
.boxSidenav a,
.boxSidenav a h2 {
    color: #ffffff;
    transition: all .15s;
}

.boxSidenav p:not(.headline) {
    line-height: 1.4375rem;
}

.boxSidenav .headline {
    margin-top: -.3125rem;
    margin-bottom: .3125rem;
    width: 100%;
    display: inline-block;
}

.boxSidenav.bgGrey {
    background-color: #bababa;
    background-image: linear-gradient(#bababa, #8d8d8d);
}

.boxSidenav.bgOrange {
    background-color: #f42525;
    background-image: linear-gradient(#f42525, #e51313);
}

.boxSidenav.bgGrey a:hover,
.boxSidenav.bgGrey a:active,
.boxSidenav.bgGrey .moreLink:hover,
.boxSidenav.bgGrey .moreLink:active {
    color: #e51313;
    transition: all .15s;
}

.boxSidenav.bgGrey a .content,
.boxSidenav.bgOrange a .content {
    position: relative;
    margin-bottom: 1.25rem;
}

.boxSidenav.bgOrange a:hover,
.boxSidenav.bgOrange a:active,
.boxSidenav.bgOrange .moreLink:hover,
.boxSidenav.bgOrange .moreLink:active {
    color: #323232;
    transition: all .15s;
}

.boxSidenav .linkFullSize {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-height: 8.75rem;
}

@media only screen and (min-width: 64em) and (max-width: 79.9375em) {

    .boxSidenav p:not(.headline) {
        font-size: .875rem;
        line-height: 1.3125rem;
    }

    .boxSidenav {
        padding: .9375rem;
    }

    .boxSidenav .linkFullSize {
        min-height: 8.375rem;
    }

}

@media only screen and (min-width: 80em) {

    .boxSidenav {
        margin-top: 1.875rem;
    }

}