
/*--------------------------------------------------------------
 * # Certificates
 * ------------------------------------------------------------*/

.certificates h1.headline {
    margin-top: .25rem;
}

.concept-item {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.concept-item .concept-img img {
    margin-right: 20px;
	margin-bottom: 20px;
    width: auto;
}

.concept-item .concept-text {
    margin-bottom: 40px;
}

.cert-items {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    margin-bottom: 40px;
}

.cert-items .cert-item {
    max-width: 100%;
    margin-bottom: 20px;
    border: .0625rem solid #c8c8c8;
}

@media only screen and (min-width: 48em) {

    .concept-item {
        flex-direction: row;
    }

    .concept-item .concept-img img {
        max-width: 150px;
        margin-top: 5px;
    }

    .cert-items {
        justify-content: space-between;
    }

    .cert-items .cert-item {
        width: 220px;
    }

}

@media only screen and (min-width: 64em) {

    .concept-text {
        width: 520px;
    }

    .concept-item .concept-text {
        margin-bottom: 20px;
    }

    .concept-item .concept-text.last {
        margin-bottom: 40px;
    }

    .cert-items .cert-item {
        width: 250px;
    }
    
}