
/*--------------------------------------------------------------
 * # Dotstyle
 * ------------------------------------------------------------*/

.dotstyle {
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: default;
    -webkit-touch-callout: none;
    user-select: none;
    text-align: center;
    line-height: 1;
}

.dotstyle li {
    margin: 0 5px;
    width: 10px;
    height: 10px;
    cursor: pointer;
}

.dotstyle,
.dotstyle li {
    position: relative;
    display: inline-block;
}

.dotstyle li button,
.dotstyle-tooltip li::after {
    width: 100%;
    height: 100%;
    left: 0;
    position: absolute;
}

.dotstyle li button {
    top: 0;
    outline: 0;
    border-radius: 50%;
    background-color: #fff;
    background-color: rgba(255,255,255,.3);
    text-indent: -999em;
    cursor: pointer;
}

.dotstyle li button:focus {
    outline: 0;
}

.dotstyle-tooltip li {
    border: 1px solid #969696;
    border-radius: 50%;
    z-index: 1;
    transition: border-color .3s ease;
}

.dotstyle-tooltip li::after {
    content: '';
    border-radius: 50%;
    background-color: #e51717;
    transform: scale(0);
    transform-origin: 50% 50%;
    transition: transform .3s ease;
}

.dotstyle-tooltip li.slick-active::after {
    transform: scale(1);
    border-color: #969696;
}

.dotstyle-tooltip li button {
    top: auto;
    left: 50%;
    width: auto;
    height: auto;
    font-family: 'MetaProCondBook', sans-serif;
    text-indent: 0;
    color: #505050;
    border-radius: 0;
    background-color: #fff;
    transform: translateX(-50%) translateY(-50%);
    transition: transform .3s ease, opacity .3s ease, visibility 0s .3s ease;
    visibility: hidden;
    opacity: 0;
}

.dotstyle-tooltip li button::after {
    position: absolute;
    left: 50%;
    margin-left: -10px;
    width: 0;
    height: 0;
    border: solid transparent;
    border-width: 10px;
    border-color: #c44d48 transparent transparent;
    content: '';
    pointer-events: none;
    top: 99%;
    backface-visibility: hidden;
    transition: opacity .3s ease;
}

.no-touch .dotstyle-tooltip li:hover button,
.dotstyle-tooltip li.slick-active button {
    z-index: 100;
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) translateY(0);
    transition: transform .3s ease, opacity .3s ease;
}

.dotstyle-tooltip li.slick-active button {
    display: none;
}

.dotstyle-tooltip li:hover {
    z-index: 100;
}

.no-touch .dotstyle-tooltip ul:hover li.slick-active button {
    opacity: .2;
}

.dotstyle-tooltip ul li.slick-active:hover button {
    opacity: 1;
}

.dotstyle-tooltip li button {
    white-space: nowrap;
    font-size: 16px;
    text-transform: uppercase;
    bottom: 150%;
    padding: 3px 5px 0;
    line-height: 20px;
    border: 1px solid #969696;
}

.dotstyle-tooltip li button:after,
.dotstyle-tooltip li button:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.dotstyle-tooltip li button:after {
    border-color: rgba(255,255,255,0);
    border-top-color: #fff;
    border-width: 10px;
    margin-left: -10px;
}

.dotstyle-tooltip li button:before {
    border-color: rgba(150,150,150,0);
    border-top-color: #969696;
    border-width: 11px;
    margin-left: -11px;
}