
/*--------------------------------------------------------------
 * # News
 * ------------------------------------------------------------*/

.news h1.headline {
    margin-top: .25rem;
}

.news .news-cards a {
    color: #323232;
}

.news-card {
    background: #f2f2f2;
    display: flex;
}

.news-card:hover {
    box-shadow: 0 0 8px rgba(0,0,0,.2);
}

.news-card:not(:last-child) {
    margin-bottom: 1.25rem;
}

.news-card__info {
    padding: 0.9375rem;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.news-card__title {
    margin: 0 0 .625rem 0;
    font: 1.375rem/1.3 'MetaProCondBold', sans-serif;
    text-transform: uppercase;
}

.news-card__text {
    font-size: .875rem;
    margin-bottom: .625rem;
}

.news-card__date {
    font-size: .75rem;
    color: #505050;
    margin-top: auto;
    display: flex;
    align-items: baseline;
}

.news-card__title a:hover,
.news-card__title a:active,
.news-card .moreLink a:hover,
.news-card .moreLink a:active {
    color: #e51313;
}

.news .moreLink {
    margin-bottom: .1875rem;
}

@media screen and (max-width: 23.4375rem) {

    .newsPage .newsImage {
        width: 100%;
        margin-bottom: 10px;
    }

}

@media only screen and (min-width: 48em) {

    .newsPage {
        margin-top: 1.25rem;
    }

    .row.medium-uncollapse > .column.newsPage > .row {
        margin-left: 0;
        margin-right: 0;
    }

}

@media only screen and (min-width: 64em) and (max-width: 79.9375em) {

    .newsPage .newsTitle {
        font-size: 1.125rem;
    }

    .newsPage .moreLink {
        font-size: 1rem;
    }

}