
/*--------------------------------------------------------------
 * # Service item article
 * ------------------------------------------------------------*/

.services-article-section {
    
    h1.headline {
        margin-top: .25rem;
    }
    
    h3 {
        margin: 2.1875rem auto 1.25rem;
    }

    p {
        margin-bottom: 1rem;
        font-size: 17px;
        line-height: 1.6;
    }

    ol li::marker {
        font-weight: bold;
        color: #e51313;
    }
    
    figure {
        margin: 2rem 0;
        text-align: center;
    }
    
    figcaption {
        margin: 1rem 0;
        font-size: .875rem;
        font-style: normal;
        text-align: center;
        color: $cs-color-secondary;
    }

    .intro-text {
        font-size: 19px;
    }

    .recommendation {
        margin: 0 -20px;
        padding: 30px 20px;
        font-family: 'MetaProCondBook', sans-serif;
        font-weight: 400;
        background-color: rgba(229,19,19,.06);
    }
    
    .recommendation-title {
        margin-bottom: .625rem;
        font: 20px 'MetaProCondBold', sans-serif;
        text-transform: uppercase;
    }
    
    .recommendation-content {
        margin-bottom: 0;
        font-size: 20px;
    }
}

@media only screen and (max-width: 47.9375em) {

    .services-article-section .figcaption {
        margin-bottom: .625rem;
    }
}

@media only screen and (min-width: 48em) {
    
    .services-article-section .recommendation {
        margin: 0;
        padding: 30px 40px 32px 30px;
    }
}